@font-face {
   font-family: f;
   src: url("./src/Righteous.woff") format("truetype");
   font-weight: normal;
   font-style: normal;
}

@font-face {
   font-family: roboto;
   src: url("./src/Roboto-Regular.woff") format("truetype");
   font-weight: normal;
   font-style: normal;
}

@font-face {
   font-family: n;
   src: url("./src/ChakraPetch-Bold.woff") format("truetype");
   font-weight: normal;
   font-style: normal;
}

* {
   margin: 0;
   padding: 0;
   box-sizing: border-box;
   user-select: none;
   -moz-user-select: none;
   -webkit-user-select: none;
   touch-action: none;
   -ms-touch-action: none;
   -webkit-touch-callout: none;
   font-family: roboto;

   /* outline: solid 1px #f007; */
}

body {
   position: relative;
   width: 100svw;
   height: 100svh;
   display: grid;
   place-items: center;
   overflow: hidden;
   background: linear-gradient(to right, #3c3c47, #737389, #3c3c47);
}
/*  -------- lodaing window ---------- */
#waitingWindow {
   position: fixed;
   inset: 0;
   width: 100%;
   height: 100%;
   background: #fffc;
   display: none;
   justify-content: center;
   align-items: center;
   backdrop-filter: blur(5px);
   z-index: 5;
}
#waitingWindow.active{
   display: flex;
}
#waitingWindow .center {
   position: absolute;
   height: 100%;
   height: 100%;
   display: flex;
   justify-content: center;
   align-items: center;
}
.wave {
   width: 8px;
   height: 150px;
   background: linear-gradient(45deg, #12100e, #2b4162);
   margin: 10px;
   border-radius: 20px;
   transform: scale(0);
   animation-delay: calc(var(--delay) * 1s);
}
#waitingWindow .wave {
   animation: wave 1s linear infinite;
   animation-delay: calc(var(--delay) * 1s);
}
@keyframes wave {
   0% {
      transform: scale(0);
   }
   50% {
      transform: scale(1);
   }
   100% {
      transform: scale(0);
   }
}





#myCanvas {
   position: absolute;
   margin-top: 90px;
   z-index: 2;
}

#__fps {
   position: absolute;
   z-index: 3;
   left: 10px;
   bottom: 10px;
   font-family: Arial, Helvetica, sans-serif;
   font-weight: 900;
   font-size: 10px;
   color: #f00;
   text-shadow: 0 0 2px #000;
}

.br {
   position: relative;
   height: 10px;
   width: 100%;
}

#display {
   position: fixed;
   width: 100%;
   height: max-content;
   top: 0;
   left: 0;
   z-index: 4;
   display: flex;
   justify-content: space-evenly;
   align-items: center;
   background: #ffffff77;
   padding: 10px;
   backdrop-filter: blur(5px);
   border-bottom: 3px solid #0009;
}

#display #setting {
   position: relative;
   width: min-content;
   height: min-content;
}


#display #setting #options {
   position: absolute;
   top: -5px;
   left: -5px;
   width: 260px;
   height: max-content;
   outline: none;
   opacity: 0;
   z-index: 3;
   transition: opacity 200ms;
}
#display #setting.show #options {
   display: block;
}
#display #setting:not(.show) #options {
   display: none;
}

#display #setting.active #options {
   background: #fff;
   border-radius: 10px;
   padding: 10px;
   outline: solid 9999px #0004;
   opacity: 1;
   border: solid 2px #333;
}
#display #setting #options::after {
   position: absolute;
   content: "";
   width: 10000px;
   height: 10000px;
   left: -1000px;
   top: -1000px;
   background: transparent;
   z-index: -1;
}
#display #setting #options > * {
   opacity: 0;
   transition: opacity 200ms;
}

#display #setting.active #options > * {
   opacity: 1;
}

#setting #options .title {
   width: 100%;
   text-align: center;
   padding: 7px;
   padding-left: 30px;
   font-family: n;
   font-size: 30px;
}

#setting #options .slider {
   position: relative;
   width: 100%;
   height: 50px;
   display: grid;
   grid-template-rows: 2fr 5fr;
}

#setting #options .slider p {
   position: relative;
   width: 100%;
   text-align: center;
   font-weight: 500;
   font-size: 14px;
}

#setting #options .slider .slider-box {
   position: relative;
   display: grid;
   grid-template-columns: 2fr 10fr;
   place-items: center;
}

#setting #options .slider .slider-box img {
   position: relative;
   height: 25px;
   width: 25px;
}

#setting #options .slider .slider-box .input-box {
   position: relative;
   width: 96%;
   height: 100%;

}

#setting #options .select-box {
   position: relative;
   width: 100%;
   height: 40px;
   display: grid;
   place-items: center;
   gap: 10px;
   grid-template-columns: 3fr 5fr;
   background: linear-gradient(to right, #fff, #ededed, #fff);
}
#setting #options .select-box p {
   font-weight: 600;
   font-size: 16px;
}
select {
   position: relative;
   width: 100%;
   height: 70%;
   -webkit-appearance: none;
   -moz-appearance: none;
   appearance: none;
   border: 0;
   outline: 0;
   font: f;
   text-align: center;
   background: #00ee9399;
   border: solid 2px #27ffdf;
   color: #fff;
   font-family: f;
   text-shadow: 0 0 2px #000;
   transition: linear 200ms background, linear 200ms border;
   border-radius: 5px;
   font-size: 16px;
}
body:not(.mobile) select {
   cursor: pointer;
}
select:has(option:nth-child(2):checked) {
   background: #5300ee99;
   border: solid 2px #782fff;
}
select:has(option:nth-child(3):checked) {
   background: #ee7b0099;
   border: solid 2px #ff982a;
}
select:has(option:nth-child(4):checked) {
   background: #ee000099;
   border: solid 2px #ff2d2d;
}
.select-box:last-child select:has(option:nth-child(3):checked) {
   background: #ee000099;
   border: solid 2px #ff2d2d;
}

select::-ms-expand {
   display: none;
}
select:focus {
   outline: none;
}

select option {
   font-family: f;
   color: #000;
   background: #fff;
   
}




#display #setting #icon {
   position: relative;
   width: 50px;
   height: 50px;
   display: grid;
   place-items: center;
   border-radius: 10px;
   background: #eee;
   box-shadow: inset 2px 2px 3px #fff, inset -2px -2px 3px #999, 2px 2px 3px #000;
   transition: linear 200ms box-shadow, linear 200ms background;
   z-index: 4;
}

#display #setting #icon span {
   position: relative;
   width: 70%;
   height: 6px;
   background: #2e2e2e;
   border-radius: 5px;
   transition: linear 200ms transform, linear 200ms background;
}

#display #setting #icon span:before,
#display #setting #icon span::after {
   position: absolute;
   content: "";
   width: 100%;
   height: 100%;
   background: #2e2e2e;
   border-radius: 5px;
   transform: translate(0, -12px);
   transition: linear 200ms transform;
}

#display #setting #icon span::after {
   transform: translate(0, 12px);
}

#display #setting.active #icon span {
   background: #0000;
}

#display #setting.active #icon span:before,
#display #setting.active #icon span::after {
   transform: translate(0, 0) rotate(45deg);
}

#display #setting.active #icon span::after {
   transform: translate(0, 0) rotate(-45deg);
}

#display #flagBox {
   position: relative;
   width: 70px;
   height: 40px;
   display: grid;
   grid-auto-flow: column;
   place-items: center;
   background: #0007;
   box-shadow: inset 0 0 5px #000;
   border-radius: 5px;
}

#display #flagBox #flagCoutn {
   position: relative;
   width: 32px;
   text-align: center;
   color: #fff;
   font-family: n;
   font-size: 22px;
}

#display #flagBox #flagIcon {
   position: relative;
   height: 34px;
   width: 34px;
}

#display #flagBox #flagIcon img {
   position: absolute;
   width: 100%;
   height: 100%;
   pointer-events: none;
}

#display #flagBox #flagIcon img#moveFlag {
   position: fixed;
   left: 0;
   top: 0;
   opacity: 0;
   z-index: 3;
   pointer-events: none;
}

#display #emoji {
   position: relative;
   width: 50px;
   height: 50px;
   scale: 1.2;
}

#display #emoji img {
   position: absolute;
   width: 100%;
   height: 100%;
   opacity: 1;
   pointer-events: none;
   transition: linear 400ms opacity;
}

#display #emoji.normal img:not(:first-child),
#display #emoji.win img:not(:nth-child(2)),
#display #emoji.safe img:not(:nth-child(3)),
#display #emoji.over img:not(:last-child) {
   opacity: 0;
}

#display #emoji img:first-child {
   filter: brightness(1.2);
}

#display #emoji img:not(:first-child) {
   scale: 1.15;
}

#display #restart img {
   position: relative;
   width: 100%;
   height: 100%;
   pointer-events: none;
}

#display #timeBox {
   position: relative;
   width: 70px;
   height: 40px;
   display: grid;
   place-items: center;
   background: #0007;
   box-shadow: inset 0 0 5px #000;
   border-radius: 5px;
   color: #fff;
   text-shadow: 0 0 1px #000;
   font-family: n;
   font-size: 30px;
   letter-spacing: 1px;
}

#display #restart {
   position: relative;
   width: 50px;
   height: 50px;
   background: #eee;
   border-radius: 10px;
   box-shadow: inset 2px 2px 3px #fff, inset -2px -2px 3px #999, 2px 2px 3px #000;
   transition: linear 200ms box-shadow, linear 200ms background;
}

body:not(.mobile) #display #restart:hover,
body:not(.mobile) #display #setting #icon:hover {
   box-shadow: inset 2px 2px 3px #fff, inset -2px -2px 3px #999, 1px 1px 1px #000;
   background: #00ffe1;
   cursor: pointer;
}

body.mobile #display #restart:active,
body.mobile #display #setting #icon:active {
   box-shadow: inset 2px 2px 3px #fff, inset -2px -2px 3px #999, 1px 1px 1px #000;
   background: #00ffe1;
}

/* --------------------- range input ------------------- */
.input-box input[type="range"] {
   position: absolute;
   -webkit-appearance: none;
   width: 96%;
   height: 100%;
   background: transparent;
}

.input-box input[type="range"]:focus {
   outline: none;
}

.input-box input[type="range"]::-webkit-slider-runnable-track {
   width: 100%;
   height: 18px;
   cursor: pointer;
   animate: 0.2s;
   border-radius: 6px;
   background: #b6b6b6;
   box-shadow: inset 1px 1px 2px #00000077;
   border: 1px solid #707070;
}

.input-box input[type="range"]::-webkit-slider-thumb {
   height: 14px;
   width: 20px;
   -webkit-appearance: none;
   margin-top: 1px;
   background: linear-gradient(335deg, #fff, #ccc);
   cursor: pointer;
   border-radius: 22px;
   box-shadow: 0 0 4px rgba(0, 0, 0, 0.4);
}

.input-box input[type="range"]:focus::-webkit-slider-runnable-track {
   background: #b6b6b6;
   box-shadow: inset 1px 1px 2px #00000077;
   border: 1px solid #707070;
}

.input-box input[type="range"]::-moz-range-track {
   width: 100%;
   height: 16px;
   cursor: pointer;
   animate: 0.2s;
   border-radius: 6px;
   background: #b6b6b6;
   box-shadow: inset 1px 1px 2px #00000077;
   border: 1px solid #707070;
}

.input-box input[type="range"]::-moz-range-thumb {
   box-shadow: 0px 0px 0px #828282;
   border: 1px solid #8a8a8a;
   height: 12px;
   width: 20px;
   border-radius: 10px;
   background: #0700da;
   cursor: pointer;
}

.input-box input[type="range"]::-ms-track {
   width: 100%;
   height: 16px;
   cursor: pointer;
   animate: 0.2s;
   background: transparent;
   border-color: transparent;
   color: transparent;
}

.input-box input[type="range"]::-ms-fill-lower {
   background: #b6b6b6;
   border: 1px solid #8a8a8a;
   border-radius: 12px;
   box-shadow: 0px 0px 0px #000000;
}

.input-box input[type="range"]::-ms-fill-upper {
   background: #b6b6b6;
   border: 1px solid #8a8a8a;
   border-radius: 12px;
   box-shadow: 0px 0px 0px #000000;
}

.input-box input[type="range"]::-ms-thumb {
   margin-top: 1px;
   box-shadow: 0px 0px 0px #828282;
   border: 1px solid #8a8a8a;
   height: 12px;
   width: 20px;
   border-radius: 10px;
   background: #0700da;
   cursor: pointer;
}

.input-box input[type="range"]:focus::-ms-fill-lower {
   background: #b6b6b6;
}

.input-box input[type="range"]:focus::-ms-fill-upper {
   background: #b6b6b6;
}

@media (hover: hover) and (pointer: fine) {
   #myCanvas {
      cursor: pointer;
   }
}