@font-face {
   font-family: f;
   src: url("./src/Righteous.woff") format("truetype");
   font-weight: normal;
   font-style: normal;
}

@font-face {
   font-family: roboto;
   src: url("./src/Roboto-Regular.woff") format("truetype");
   font-weight: normal;
   font-style: normal;
}

@font-face {
   font-family: n;
   src: url("./src/ChakraPetch-Bold.woff") format("truetype");
   font-weight: normal;
   font-style: normal;
}

* {
   margin: 0;
   padding: 0;
   box-sizing: border-box;
   user-select: none;
   -moz-user-select: none;
   -webkit-user-select: none;
   touch-action: none;
   -ms-touch-action: none;
   -webkit-touch-callout: none;
   font-family: roboto;

   /* outline: solid 1px #f007; */
}

body {
   position: relative;
   width: 100svw;
   height: 100svh;
   display: grid;
   place-items: center;
   grid-template-rows: 70px auto;
   overflow: hidden;
   background: linear-gradient(to right, #3c3c47, #737389, #3c3c47);
}

#myCanvas {
   position: relative;
   z-index: 2;
   color: #56ff46;
}

#__fps {
   position: absolute;
   z-index: 3;
   left: 10px;
   bottom: 10px;
   font-family: Arial, Helvetica, sans-serif;
   font-weight: 900;
   font-size: 10px;
   color: #f00;
   text-shadow: 0 0 2px #000;
}

#display {
   position: relative;
   width: 100%;
   height: min-content;
   z-index: 4;
   display: flex;
   justify-content: space-evenly;
   align-items: center;
   background: #ffffff77;
   padding: 10px;
   backdrop-filter: blur(5px);
   border-bottom: 3px solid #0009;
}

#display #setting {
   position: relative;
   width: 50px;
   height: 50px;
   background: #eee;
   border-radius: 10px;
   box-shadow: inset 2px 2px 3px #fff, inset -2px -2px 3px #999, 2px 2px 3px #000;

}
#display #setting #icon {
   position: relative;
   width: 100%;
   height: 100%;
   display: grid;
   place-items: center;
}
#display #setting #icon span {
   position: relative;
   width: 80%;
   height: 6px;
   background: #000;
   border-radius: 5px;
   transition: linear 200ms transform, linear 200ms background;
}
#display #setting #icon span:before,
#display #setting #icon span::after {
   position: absolute;
   content: "";
   width: 100%;
   height: 100%;
   background: #000;
   border-radius: 5px;
   transform: translate(0, -12px);
   transition: linear 200ms transform;
}
#display #setting #icon span::after {
   transform: translate(0, 12px);
}

#display #setting.active #icon span {
   background: #0000;
}
#display #setting.active #icon span:before,
#display #setting.active #icon span::after  {
   transform: translate(0, 0) rotate(45deg);
}
#display #setting.active #icon span::after {
   transform: translate(0, 0) rotate(-45deg);
}

#display #flagBox {
   position: relative;
   width: 70px;
   height: 40px;
   display: grid;
   grid-auto-flow: column;
   place-items: center;
   background: #0007;
   box-shadow: inset 0 0 5px #000;
   border-radius: 5px;
}

#display #flagBox #flagCoutn {
   position: relative;
   width: 32px;
   text-align: center;
   color: #fff;
   font-family: n;
   font-size: 22px;
}

#display #flagBox #flagIcon {
   position: relative;
   height: 34px;
   width: 34px;
}

#display #flagBox #flagIcon img {
   position: absolute;
   width: 100%;
   height: 100%;
}

#display #emoji {
   position: relative;
   width: 50px;
   height: 50px;
   scale: 1.2;
}

#display #emoji img {
   position: absolute;
   width: 100%;
   height: 100%;
   opacity: 1;
   transition: linear 400ms opacity;
}

#display #emoji.normal img:not(:first-child),
#display #emoji.win img:not(:nth-child(2)),
#display #emoji.safe img:not(:nth-child(3)),
#display #emoji.over img:not(:last-child) {
   opacity: 0;
}

#display #emoji img:first-child {
   filter: brightness(1.2);
}

#display #emoji img:not(:first-child) {
   scale: 1.15;
}


#display #restart {
   position: relative;
   width: 50px;
   height: 50px;
   background: #eee;
   border-radius: 10px;
   box-shadow: inset 2px 2px 3px #fff, inset -2px -2px 3px #999, 2px 2px 3px #000;
}

#display #restart img {
   position: relative;
   width: 100%;
   height: 100%;
}

#display #timeBox {
   position: relative;
   width: 70px;
   height: 40px;
   display: grid;
   place-items: center;
   background: #0007;
   box-shadow: inset 0 0 5px #000;
   border-radius: 5px;
   color: #fff;
   text-shadow: 0 0 1px #000;
   font-family: n;
   font-size: 30px;
   letter-spacing: 1px;
}

@media (hover: hover) and (pointer: fine) {
   #myCanvas {
      cursor: pointer;
   }
}